.dark-mode,
.dark-mode nav,
.dark-mode nav > ul > li > a,
.dark-mode nav > ul > li > a:hover,
.dark-mode button,
.dark-mode .fa {
    color: white;
    background: rgb(30, 30, 30);
}

.dark-mode > footer {
    background: rgb(30, 30, 30);
}

.dark-mode .button-default:hover {
    background: inherit;
    border: 1px solid rgb(250, 250, 250);
}

.dark-mode .share > * {
    background: inherit;
}

.dark-mode .share:hover {
    background: rgb(50, 50, 50);
}

.dark-mode .box,
.dark-mode .post-text,
.dark-mode .post-content {
    border: none;
    color: white;
    box-shadow: none;
    background: rgb(30, 30, 30) !important;
}

.dark-mode .alert-info {
    background: rgba(52, 152, 219, .2);
}

.dark-mode .alert-success {
    background: rgba(46, 204, 113, .2);
}

.dark-mode .alert-danger {
    background:  rgba(231, 76, 60, .2);
}

.dark-mode .alert-warning {
    background: rgba(251, 246, 15, .2);
}

.dark-mode .separator {
    background: linear-gradient(to right, rgb(30, 30, 30), rgb(39, 174, 96), rgb(30, 30, 30))
}
