/**
 * Website CSS
 */

* {
  font-family: 'Ubuntu', sans-serif;
}

ul {
  list-style: none;
}

ul > li {
  display: inline-block;
}

a {
  color: #505050;
  text-decoration: none !important;
  -webkit-transition: all .2s ease-in;
     -moz-transition: all .2s ease-in;
       -o-transition: all .2s ease-in;
}

a:hover {
  color: #101010;
  /*background-color: rgba(65, 171, 101, 0.19);*/
}

a:focus {
  color: rgba(19, 79, 1, 1);
}

footer {
  border-top: 1px solid #ccc;
  background-color: #f2f2f2;
  padding: 4%;
}

footer a {
  color: rgba(111, 108, 113, 0.69) !important;
  -webkit-transition: all .1s;
     -moz-transition: all .1s;
       -o-transition: all .1s;
}

footer a:hover {
  color: rgba(111, 108, 113, 0.9) !important;
}

.nav {
  height: 60px;
  font-size: 25px;
  margin-bottom: 50px;
  background: rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgba(73, 141, 91, 1);
}

.nav > ul > li {
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transition: all .2s;
     -moz-transition: all .2s;
       -o-transition: all .2s;
}

.nav > ul > li > a {
  padding: 14px;
  color: rgba(73, 141, 91, 1);
}

.nav > ul > li > a:hover {
  color: rgba(56, 115, 71, 1);
  text-shadow: 1px 1px 3px rgba(56, 115, 71, .2);
}

.active {
  border-bottom: 3px solid rgba(73, 141, 91, 1) !important;
  font-weight: bold;
}

.blog-posts > .blog-post {
  padding: 10px;
}

.blog-post {
  border-radius: 2px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #f2f2f2;
}

.blog-post a {
  color: rgba(73, 141, 91, 1) !important;
}

.blog-post a:hover {
  text-decoration: underline !important;
}

.blog-info {
  font-weight: 300;
  opacity: .8;
}

.post-language {
  float: right;
  cursor: default;
}

.post-snippet {
  color: rgb(148, 148, 148);
  font-weight: 300;
  opacity: .8;
}

.list-social {
  font-size: 20px;
  margin-bottom: 50px;
}

.list-social > li {
  margin-right: 15px;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}
