/**
 * The website's dark core CSS.
 *
 * @author: Rafael Campos Nunes <rafaelnunes@engineer.com>
 *
 */

.dark-mode,
.dark-mode nav,
.dark-mode nav a,
.dark-mode nav a:hover,
.dark-mode button,
.dark-mode main,
.dark-mode .navbar-menu {
    color: whitesmoke !important;
    background: rgb(30, 30, 30) !important;
}

.dark-mode .fa,
.dark-mode .far,
.dark-mode .fab,
.dark-mode .fas {
    color: whitesmoke !important;
}

.dark-mode footer,
.dark-mode footer > * {
    background: rgb(30, 30, 30) !important;
}



.dark-mode a:hover {
    color: rgb(66, 202, 123) !important;
}

.dark-mode #license:hover {
    color: rgb(255, 255, 255) !important;
}

.dark-mode .box {
    background: rgb(30, 30, 30) !important;
    box-shadow: 0 0 !important;
}

.dark-mode .box p {
    color: whitesmoke !important;
}

.dark-mode .post-text,
.dark-mode .post-content {
    border: none;
    color: whitesmoke;
    box-shadow: none;
    background: rgb(30, 30, 30) !important;
}

.dark-mode .post-date {
    color: whitesmoke !important;
}

.dark-mode .presentation-post {
    color: whitesmoke !important;
}

.dark-mode .list-social > li > a {
    color: rgb(135, 135, 135) !important;
}

.dark-mode .list-social > li > a:hover {
    color: rgb(255, 255, 255) !important;
}

.dark-mode .button.is-default.is-light {
    background: rgb(60, 60, 60) !important;
}

.dark-mode .button.is-default.is-light:hover {
    background: rgb(70, 70, 70) !important;
}

.dark-mode .button.is-success.is-light {
    background: rgba(53, 126, 77, 0.2) !important;
    color: rgb(171, 240, 171)!important;
}

.dark-mode .button.is-success.is-light:hover {
    background: rgba(53, 126, 77, 0.4) !important;
    color: rgb(171, 240, 171) !important;
}

.dark-mode .notification.is-info {
    color: rgba(25, 25, 201, 0.7) !important;
}

.dark-mode b,
.dark-mode i,
.dark-mode strong {
    color: whitesmoke !important;
}

.dark-mode p > code,
.dark-mode li > code {
    background: rgba(90, 90, 90, .5);
    color: rgba(47, 239, 135, 1);
}

.dark-mode span.token.function {
    color: rgba(251, 67, 105, 1);
}

.dark-mode span.token.keyword {
    color: rgb(0, 179, 255);
}

.dark-mode span.token.char,
.dark-mode span.token.string,
.dark-mode span.token.builtin,
.dark-mode span.token.selector,
.dark-mode span.token.inserted {
    color: rgb(47, 239, 135);
}

.dark-mode span.token.tag,
.dark-mode span.token.symbol,
.dark-mode span.token.number,
.dark-mode span.token.deleted,
.dark-mode span.token.boolean,
.dark-mode span.token.constant,
.dark-mode span.token.property {
    color: rgb(255, 154, 210);
}

.dark-mode span.token.cdata,
.dark-mode span.token.prolog,
.dark-mode span.token.comment,
.dark-mode span.token.doctype {
    color: rgb(163, 185, 208);
}