body {
    color: rgb(30, 30, 30) !important;
}

body,
button,
input,
optgroup,
select,
textarea {
    font-family: "Rubik", serif;
    font-weight: 400 !important;
}

h1,
h2,
h3 {
    font-family: "EB Garamond", serif;
    font-weight: bold;
}

main {
    min-height: calc(100vh - 300px);
}

nav {
    padding-top: 0.5rem;

    transition: all 0.1s;

    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

footer {
    height: 300px;
    background-color: rgb(255, 255, 255) !important;
}

footer ul > li {
    font-size: 3rem;
    display: inline-block;
    margin-left: 12px;
    margin-right: 12px;
}

a {
    transition: all 0.1s;
    color: rgb(4, 68, 31);
}

a:hover {
    color: rgb(8, 77, 36);
}

a.navbar-item,
a.navbar-item.is-active {
    color: rgba(30, 30, 30, 0.4);
    font-size: 1.5rem !important;

    transition: all 0.1s;
}

a.navbar-item:hover {
    color: rgb(30, 30, 30);
    cursor: pointer;
}

.navbar-end {
    cursor: pointer;
}

.blog-post {
    transition: all 0.05s;
    border-radius: 3px;
}

.blog-post:hover {
    background: rgb(30, 30, 30, 0.1);
}

.blog-post > a {
    color: rgb(3, 51, 23);
}

.blog-post > a > div {
    padding: 1rem 1rem 1rem 1rem !important;
}

.blog-info {
    display: flex;
    flex-direction: row;
}

.post-date {
    flex-grow: 1;
    color: rgba(30, 30, 30, 0.4);
}

.post-title {
    font-size: 2em;
    font-weight: 600;
}

@media screen and (max-width: 1023px) {
    .navbar-menu {
        background-color: inherit !important;
        box-shadow: none !important;
    }
}
