/**
 * The website's dark core CSS.
 *
 * @author: Rafael Campos Nunes <rafaelnunes@engineer.com>
 *
 */

.dark-mode,
.dark-mode nav,
.dark-mode nav a,
.dark-mode nav a:hover,
.dark-mode button,
.dark-mode main,
.dark-mode .navbar-menu {
    color: whitesmoke !important;
    background: rgb(30, 30, 30) !important;
}

.dark-mode .fa,
.dark-mode .far,
.dark-mode .fab,
.dark-mode .fas {
    color: whitesmoke !important;
}

.dark-mode footer {
    background: rgb(30, 30, 30) !important;
}

.dark-mode a:hover {
    color: rgb(66, 202, 123) !important;
}

.dark-mode #license:hover {
    color: rgb(255, 255, 255) !important;
}

.dark-mode .box {
    background: rgb(30, 30, 30) !important;
    box-shadow: 0 0 !important;
}

.dark-mode .box p {
    color: whitesmoke !important;
}

.dark-mode .post-text,
.dark-mode .post-content {
    border: none;
    color: whitesmoke;
    box-shadow: none;
    background: rgb(30, 30, 30) !important;
}

.dark-mode .post-date {
    color: whitesmoke !important;
}

.dark-mode .presentation-post {
    color: whitesmoke !important;
}

.dark-mode .list-social > li > a {
    color: rgb(135, 135, 135) !important;
}

.dark-mode .list-social > li > a:hover {
    color: rgb(255, 255, 255) !important;
}

.dark-mode .button.is-default.is-light {
    background: rgb(60, 60, 60) !important;
}

.dark-mode .button.is-default.is-light:hover {
    background: rgb(70, 70, 70) !important;
}

.dark-mode .button.is-success.is-light {
    background: rgba(53, 126, 77, 0.2) !important;
    color: rgb(171, 240, 171)!important;
}

.dark-mode .button.is-success.is-light:hover {
    background: rgba(53, 126, 77, 0.4) !important;
    color: rgb(171, 240, 171) !important;
}

.dark-mode .notification.is-info {
    color: rgba(25, 25, 201, 0.7) !important;
}