@font-face {
    font-family: 'Raleway';
    src: url('/res/fonts/w/ralewayregular-webfont.woff2') format('woff2'),
         url('/res/fonts/w/ralewayregular-webfont.woff') format('woff'),
         url('/res/fonts/w/ralewayregular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('/res/fonts/w/ralewaysemibold-webfont.woff2') format('woff2'),
         url('/res/fonts/w/ralewaysemibold-webfont.woff') format('woff'),
         url('/res/fonts/w/ralewaysemibold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('/res/fonts/w/ralewaysemibolditalic-webfont.woff2') format('woff2'),
         url('/res/fonts/w/ralewaysemibolditalic-webfont.woff') format('woff'),
         url('/res/fonts/w/ralewaysemibolditalic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('/res/fonts/w/ralewaythin-webfont.woff2') format('woff2'),
         url('/res/fonts/w/ralewaythin-webfont.woff') format('woff'),
         url('/res/fonts/w/ralewaythin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('/res/fonts/w/ralewaythinitalic-webfont.woff2') format('woff2'),
         url('/res/fonts/w/ralewaythinitalic-webfont.woff') format('woff'),
         url('/res/fonts/w/ralewaythinitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('/res/fonts/w/ralewayblack-webfont.woff2') format('woff2'),
         url('/res/fonts/w/ralewayblack-webfont.woff') format('woff'),
         url('/res/fonts/w/ralewayblack-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('/res/fonts/w/ralewayblackitalic-webfont.woff2') format('woff2'),
         url('/res/fonts/w/ralewayblackitalic-webfont.woff') format('woff'),
         url('/res/fonts/w/ralewayblackitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('/res/fonts/w/ralewaybold-webfont.woff2') format('woff2'),
         url('/res/fonts/w/ralewaybold-webfont.woff') format('woff'),
         url('/res/fonts/w/ralewaybold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('/res/fonts/w/ralewaybolditalic-webfont.woff2') format('woff2'),
         url('/res/fonts/w/ralewaybolditalic-webfont.woff') format('woff'),
         url('/res/fonts/w/ralewaybolditalic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('/res/fonts/w/ralewayextrabold-webfont.woff2') format('woff2'),
         url('/res/fonts/w/ralewayextrabold-webfont.woff') format('woff'),
         url('/res/fonts/w/ralewayextrabold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('/res/fonts/w/ralewayextrabolditalic-webfont.woff2') format('woff2'),
         url('/res/fonts/w/ralewayextrabolditalic-webfont.woff') format('woff'),
         url('/res/fonts/w/ralewayextrabolditalic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('/res/fonts/w/ralewayextralight-webfont.woff2') format('woff2'),
         url('/res/fonts/w/ralewayextralight-webfont.woff') format('woff'),
         url('/res/fonts/w/ralewayextralight-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('/res/fonts/w/ralewayextralightitalic-webfont.woff2') format('woff2'),
         url('/res/fonts/w/ralewayextralightitalic-webfont.woff') format('woff'),
         url('/res/fonts/w/ralewayextralightitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('/res/fonts/w/ralewayitalic-webfont.woff2') format('woff2'),
         url('/res/fonts/w/ralewayitalic-webfont.woff') format('woff'),
         url('/res/fonts/w/ralewayitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('/res/fonts/w/ralewaylight-webfont.woff2') format('woff2'),
         url('/res/fonts/w/ralewaylight-webfont.woff') format('woff'),
         url('/res/fonts/w/ralewaylight-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('/res/fonts/w/ralewaylightitalic-webfont.woff2') format('woff2'),
         url('/res/fonts/w/ralewaylightitalic-webfont.woff') format('woff'),
         url('/res/fonts/w/ralewaylightitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('/res/fonts/w/ralewaymedium-webfont.woff2') format('woff2'),
         url('/res/fonts/w/ralewaymedium-webfont.woff') format('woff'),
         url('/res/fonts/w/ralewaymedium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}