@font-face {
    font-family: "EB Garamond";
    src: url("/res/fonts/garamond/ebgaramond-variable.ttf") format("ttf");
    font-weight: 100 900;
}

@font-face {
    font-family: "EB Garamond";
    src: url("/res/fonts/garamond/ebgaramond-italic-variable.ttf") format("ttf");
    font-weight: 100 900;
    font-style: italic;
}

@font-face {
    font-family: "Rubick";
    src: url("/res/fonts/rubick/rubick-variable.ttf") format("ttf");
    font-weight: 100 900;
}

@font-face {
    font-family: "Rubick";
    src: url("/res/fonts/garamond/rubick-italic-variable.ttf") format("ttf");
    font-weight: 100 900;
    font-style: italic;
}
