.post-content {
  animation: fadein .725s;
  -webkit-animation: fadein .725s;
     -moz-animation: fadein .725s;
       -o-animation: fadein .725s;
}

.post-header > ul > li {
    display: inline-block;
    margin-left: 3px;
    margin-right: 3px;
}

.post-title {
    font-size: 5rem;
}

.post-text ol,
.post-text ul {
    /* Bulma removes this setting */
    margin-left: 2rem;
}

.post-text > h1 {
    /* Bulma removes this setting */
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1rem;
}

.post-text > h2 {
    /* Bulma removes this setting */
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
}

.post-text p {
    font-size: 1.25rem;
    text-indent: 2rem;
    text-align: justify;
}

/* Bulma/Prism overrides for code */

code {
    padding: .25rem .5rem .25rem !important;
    border-radius: 3px !important;
}

.token.operator {
    background: none !important;
}