.nav > ul > li > a:hover {
    background: inherit;
}

.post-content {
    padding: 1%;
    background: white;
    border-radius: 2px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px 1px #ccc;
}
