.presentation-post {
    padding: 2%;
    font-size: 18px;
    cursor: default;
    list-style: none;
    border: 1px solid transparent;
}

.presentation-post:hover {
    border: 1px solid #ccc;
}

.presentation-wrapper {

}
