---
layout: crude
title: Blog
---

<ul class="space-y-5 lg:space-y-3">
    {% for post in site.posts %} {% if post.draft == false %}
    <li>
        <a href="{{ post.url }}" class="group">
            <div class="flex flex-col lg:flex-row lg:items-center lg:space-x-3">
                <span
                    class="w-[100px] lowercase shrink-0 text-left text-black/20 group-hover:text-black transition-colors duration-0"
                    >{{ post.date | date_to_string }}</span
                >
                <div>
                    <h1 class="text-2xl font-serif font-semibold">
                        {{ post.title }}
                    </h1>
                    <p class="">{{ post.snippet }}</p>
                </div>
            </div>
        </a>
    </li>
    {% endif %} {% endfor %} {% capture posts_number %}{{ site.posts | size }}{%
    endcapture %} {% if posts_number == '0' %}
    <li class="no-post">
        <h2>No posts found, yet. Comeback later.</h2>
    </li>
    {% endif %}
</ul>
