---
layout: default
title: Blog
---

<ul class="blog-posts">
  {% for post in site.posts %}
    {% if post.draft == false %}
        <li class="blog-post">
            <a href="{{ post.url }}">
                <div>
                    <h5 class="blog-info">
                        <span class="post-date">
                        {{ post.date | date_to_long_string }}
                        </span>
                    </h5>
                    <h2>
                        <span class="post-title is-size-3">{{ post.title }}</span>
                    </h2>
                    <h4 class="post-snippet">
                        {{ post.snippet }}
                    </h4>
                </div>
            </a>
        </li>
    {% endif %}
  {% endfor %}

  {% capture posts_number %}{{ site.posts | size }}{% endcapture %}

  {% if posts_number == '0' %}
    <li class="no-post">
      <h2>No posts found, yet. Comeback later. <i class="fa fa-smile-o"></i></h2>
    </li>
  {% endif %}
</ul>
