---
layout: default
title: Presentations
---

<link rel="stylesheet" href="/res/css/presentations.min.css">

<div class="presentation-content">
  <p>
    Here you can find a list of slides of my previous presentations in events.
    Yes I work with .pptx files by using WPS office. If I export the old .pptx
    version of the presentation to .pdf some slides might be scrambled due to
    the use of some animations. For now I will let it be, and use <i>beamer</i>
    to create my presentations.
  </p>
</div>

{% assign slides = site.static_files %}

{% for slide in slides %}
{% if slide.extname == ".pptx" %}
<ul class="box mt-6">
  <li class="presentation-post is-flex is-flex-direction-row">
    <span class="is-flex-grow-1 is-align-self-center">
      {% assign basename = slide.path | split: "/"%}
      {{ basename.last | split: "." | first }}
    </span>
    <span>
      <a class="button is-success is-light" href="{{ slide.path }}" title="Download this presentation">
        Download
      </a>
    </span>
  </li>
</ul>
{% endif %}
{% endfor %}
