<!DOCTYPE HTML>
<html>
    <head>
      <meta charset="utf-8">
      <title>{{ page.title }}</title>

      <link rel="stylesheet" href="/res/css/bootstrap.min.css">
      <link rel="stylesheet" href="/res/css/bootstrap-theme.min.css">

      <!-- Mobile kind of support -->
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

      <link rel="shortcut icon" href="https://rafaelcn.github.io/res/img/github_profile.png" type="image/x-icon">

      <!-- FontAwesome Icons -->
      <link rel="stylesheet" href="/res/css/font-awesome.min.css">
      <!-- Prism CSS -->
      <link rel="stylesheet" type="text/css" href="/res/css/prism.css">
      <!--  Custom CSS -->
      <link rel="stylesheet" href="/res/css/blog.css">
      <link rel="stylesheet" href="/res/css/blog_dark.css">
    </head>

    <body class="">
      <div class="wrapper" style="margin-left: 3%; margin-right: 3%;">
        <div class="row">
          <nav class="nav">
            <ul class="list-unstyled list-inline">
              {% for link in site.navigation %}
                {% assign current = nil %}
                {% if link.url == page.url or page.layout == link.layout %}
                    {% assign current = 'is-active' %}
                {% endif %}
                {% if page.layout == "post" and link.text == "blog" %}
                    {% assign current = 'is-active' %}
                {% endif %}
                <li><a class="{{ current }}" href="{{ link.url }}">{{ link.text }}</a></li>
                {% endfor %}
              <li class="pull-right" id="theme-toggle"></li>
              <li class="pull-right"><noscript style="font-size:17px !important;" class="alert alert-warning">This website needs javascript to work properly.</noscript></li>
            </ul>
          </nav>
        </div>

        <div class="row content">
          <div class="container-fluid" id="content">
              {{ content }}
          </div>
        </div>
      </div>

      <footer class="footer">
        <ul class="text-center list-social list-unstyled list-inline">
          <li><a href="mailto:rafaelnunes@engineer.com" title="Contact me."><i class="fa fa-envelope"></i></a></li>
          <li><a href="https://github.com/rafaelcn" title="rafaelcn @ Github."><i class="fa fa-github-alt"></i></a></li>
          <li><a href="http://stackoverflow.com/users/2763060/rafael-nunes" title="rafaelcn @ StackOverflow."><i class="fa fa-stack-overflow"></i></a></li>
        </ul>

        <p class="text-center">
          <a rel="license" href="https://creativecommons.org/licenses/by/4.0/">
            <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" />
          </a><br>
          <br>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
        </p>
      </footer>


      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-68972864-1', 'auto');
        ga('send', 'pageview');
      </script>
      <script type="text/javascript" src="/res/js/prism.js"></script>
            <script type="text/javascript" src="/res/js/theme_toggle.js"></script>
    </body>
</html>
