<!DOCTYPE HTML>
<html>
    <head>
      <meta charset="utf-8">
      <title>{{ page.title }}</title>

      <!-- Mobile kind of support -->
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

      <!-- SEO -->
      <meta name="description" content="Rafael's blog on computers and other stuff">

      {% if page.layout == "post" %}
        <meta property="og:title" content="Rafael's blog - {{ page.title }}">
      {% else %}
        <meta property="og:title" content="Rafael's blog">
      {% endif %}
      <meta property="og:url" content="{{ site.url }}{{ page.url }}">
      <meta property="og:image" content="{{ site.url }}/res/img/github_profile.png">
      <meta property="og:image:type" content="image/png">
      <meta property="og:description" content="Rafael's blog on computers and other stuff">

      <link rel="shortcut icon" href="https://rafaelcn.github.io/res/img/github_profile.png" type="image/x-icon">

      <link rel="stylesheet" href="/res/css/bulma.min.css">

      <!--  Custom CSS -->
      <link rel="stylesheet" href="/res/css/blog.min.css">
      <link rel="stylesheet" href="/res/css/blog_dark.min.css">
      <link rel="stylesheet" href="/res/css/font.min.css">

      <!-- FontAwesome Icons -->
      <link rel="stylesheet" href="/res/css/all.min.css">
      <!-- Prism CSS -->
      <link rel="stylesheet" href="/res/css/prism.min.css">
      <link rel="stylesheet" href="/res/css/prism_dark.min.css">

      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">

      {% if page.layout == "post" or page.url == "/404" %}
          {% include mathjax.html %}
      {% endif %}
    </head>

    <body class="">
      <main>
        <nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a class="navbar-item" style="cursor:default" href="#">
              <img src="/res/img/lambda.svg" width="32px" height="32px" alt="blog logo (lambda)" id="logo">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>
          <div class="navbar-menu" id="navbar">
            <div class="navbar-start">
              {% for link in site.navigation %}
                {% assign current = nil %}
                {% if link.url == page.url or page.layout == link.layout %}
                    {% assign current = 'is-active' %}
                {% endif %}
                {% if page.layout == "post" and link.text == "blog" %}
                    {% assign current = 'is-active' %}
                {% endif %}
                <a class="navbar-item {{ current }}" href="{{ link.url }}">{{ link.text }}</a>
              {% endfor %}
            </div>
            <div class="navbar-end">
              <span class="navbar-item" id="theme-toggle"></span>
            </div>
          </div>
        </nav>

        <div class="ml-4 mr-4 mt-6 mb-6" id="content">
            {{ content }}
        </div>
      </main>
      <footer>
        <div class="has-text-centered">
          <hr>
          <ul>
            <li><a href="mailto:{{ site.email }}" title="Contact me."><i class="fas fa-envelope"></i></a></li>
            <li><a href="https://github.com/rafaelcn" title="rafaelcn @ Github."><i class="fab fa-github-alt"></i></a></li>
            <li><a href="https://gitlab.com/rafaelcn" title="rafaelcn @ Gitlab."><i class="fab fa-gitlab"></i></a></li>
            <li><a href="http://stackoverflow.com/users/2763060/rafael-nunes" title="rafaelcn @ StackOverflow."><i class="fab fa-stack-overflow"></i></a></li>
          </ul>
        </div>

        <p class="has-text-centered mt-6 pb-1">
          <a class="" rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">
            <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a>
          </a><br>
          This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/" id="license">Creative
          Commons Attribution Non Commercial 4.0 International License</a>.
        </p>
      </footer>

      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-68972864-1', 'auto');
        ga('send', 'pageview');

        document.addEventListener('DOMContentLoaded', () => {
          // Get all "navbar-burger" elements
          let burguer = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

          if (burguer.length > 0) {
            burguer.forEach( el => {
              el.addEventListener('click', () => {
                const target = el.dataset.target;
                const $target = document.getElementById(target);

                el.classList.toggle('is-active');
                $target.classList.toggle('is-active');

              });
            });
          }
        });
      </script>
      <script type="text/javascript" src="/res/js/prism.js"></script>
      <script type="text/javascript" src="/res/js/cookie.min.js"></script>
      <script type="text/javascript" src="/res/js/theme_toggle.min.js"></script>
    </body>
</html>
