---
layout: default
---

<div class="post-content">
  <link rel="stylesheet" type="text/css" href="/res/css/post.css">
  <header class="post-header">
      <h1 class="post-title">{{ page.title }}</h1>

      {% assign publish_language = 'nil' %}
      {% if page.language == 'portuguese' %}
        {% assign publish_language = 'Publicado em ' %}
      {% else %}
        {% assign publish_language = 'Published on ' %}
      {% endif %}
      <h5 class="post-date">
        {{ publish_language }} {{ page.date | date_to_long_string }}.
      </h5>
  </header>

  <div class="post-text">
    <ul class="list-unstyled list-inline share-buttons">
      <li><a id="fb-share" class="share share-facebook" href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
      <li><a id="tt-share" href="https://twitter.com/share" class="share share-twitter" data-size="large" data-via="rafaellnunees" data-show-count="false"><i class="fa fa-twitter"></i> Tweet</a></li>
      <li><a id="in-share" lass="share share-linkedin" href="#"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
    </ul>
    {{ content }}


    <hr style="border: 2px solid #333;border-radius:2px;">
    <div id="disqus_thread"></div>
  </div>

  <script>
    var fb_button = document.getElementById('fb-share')
    var in_button = document.getElementById('in-share')
    
    fb_button.onclick = function() {
      facebook_share('rafaelcn.github.io/{{page.url}}', '{{page.title}}', '{{page.snippet}}', '', '520', '350')    
    });
	  
    in_button.onclick = function() {
      linkedin_share('rafaelcn.github.io/{{page.url}}', '{{page.title}}', '{{page.snippet}}', '', '520', '350')  
    }
    
    function facebook_share(url, title, desc, image, winWidth, winHeight) {
      var winTop = (screen.height / 2) - (winHeight / 2)
      var winLeft = (screen.width / 2) - (winWidth / 2)
      window.open('http://www.facebook.com/sharer.php?s=100&p[title]=' + title + '&p[summary]=' + desc + '&p[url]=' + url + '&p[images][0]=' + image, 'sharer', 'top=' + winTop + ',left=' + winLeft + ',toolbar=0,status=0,width='+winWidth+',height='+winHeight);
    }

    function linkedin_share(url, title, desc, image, winWidth, winHeight) {
      var winTop = (screen.height / 2) - (winHeight / 2)
      var winLeft = (screen.width / 2) - (winWidth / 2)
      window.open('https://www.linkedin.com/shareArticle?mini=true&url='+ url +'&title='+ title + '&summary='+ desc +'&source=');
    }    
  </script>
  <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <script>
      /**
       *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
       */

	  var disqus_config = function () {
		  this.page.title = '{{ page.title }}'
		  this.page.url = 'http://rafaelcn.github.io{{ page.url }}';
		  this.page.identifier = '{{ page.title }}'
	  };

      (function() {  // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');

          s.src = '//rafaelcngithubio.disqus.com/embed.js';

          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>
