---
layout: default
---

<link rel="stylesheet" type="text/css" href="/res/css/post.min.css">

<div class="post-content">
  <header class="post-header ml-4 mr-4">
    <h1 class="post-title">
      {{ page.title }}
    </h1>

    {% assign publish_language = 'nil' %}
    {% if page.language == 'portuguese' %}
        {% assign publish_language = 'Publicado em ' %}
    {% else %}
        {% assign publish_language = 'Published on ' %}
    {% endif %}
    <h5 class="post-date is-size-6">
      {{ page.date | date_to_long_string }}
    </h5>
  </header>

  <div class="post-text mt-5 ml-4 mr-4">
    {{ content }}
  </div>
</div>
