---
layout: default
---

<div class="post-content">
  <link rel="stylesheet" type="text/css" href="/res/css/post.css">
  <header class="post-header">

    <div class="row">
      <h1 class="post-title col-md-10">
        {{ page.title }}
      </h1>

      <div class="col-md-2">
      <ul class="list-unstyled list-inline pull-right">
        <li><button id="fb-share" class="share"><i class="fa fa-facebook-official"></i></button></li>
        <li><button id="tt-share" class="share"><i class="fa fa-twitter"></i></button></li>
        <li><button id="in-share" class="share"><i class="fa fa-linkedin"></i></button></li>
      </ul>
      </div>
    </div>

    {% assign publish_language = 'nil' %}
    {% if page.language == 'portuguese' %}
        {% assign publish_language = 'Publicado em ' %}
    {% else %}
        {% assign publish_language = 'Published on ' %}
    {% endif %}
    <h5 class="post-date">
      {{ publish_language }} {{ page.date | date_to_long_string }}.
    </h5>
  </header>

  <div class="post-text">
    {{ content }}

    <div style="text-align: center; padding: 5%;" id="disqus-activation-area">
      <button class="button button-default" id="disqus-activation">
        <i class="fa fa-comments-o"></i> What are people's thoughts on this?
      </button>
    </div>

    <div id="disqus_thread"></div>
  </div>

  <script>
    var fb_button = document.getElementById('fb-share')
    var in_button = document.getElementById('in-share')
    var tt_button = document.getElementById('tt-share')

    fb_button.onclick = function() {
      facebook_share('rafaelcn.github.io/{{page.url}}', '{{page.title}}', "{{page.snippet}}", '', '520', '350')
    }

    in_button.onclick = function() {
      linkedin_share('rafaelcn.github.io/{{page.url}}', '{{page.title}}', "{{page.snippet}}")
    }

    tt_button.onclick = function() {
      window.open("https://twitter.com/intent/tweet?text={{page.title}}+rafaelcn.github.io{{page.url}}+by+@rafaellnunees")
    }

    function facebook_share(url, title, desc, image, width, height) {
      var win_top = (screen.height / 2) - (width / 2)
      var win_left = (screen.width / 2) - (height / 2)
      window.open('http://www.facebook.com/sharer.php?s=100&p[title]=' + title + '&p[summary]=' + desc + '&p[url]=' + url + '&p[images][0]=' + image, 'sharer', 'top=' + win_top + ',left=' + win_left + ',toolbar=0,status=0,width='+width+',height='+height);
    }

    function linkedin_share(url, title, desc) {
      window.open('https://www.linkedin.com/shareArticle?mini=true&url='+ url +'&title='+ title + '&summary='+ desc +'&source=');
    }

    // post-title auto size if too big
    let t = document.getElementsByClassName('post-title')[0]
    let s = t.innerHTML.trim().split(' ').join('').length
    let w = t.innerHTML.trim().split(' ').length

    if (s >= 23) {  
      t.style.fontSize = w * 17 + 'px'
    }
  </script>
  <script>
    var disqus_config = function () {
        this.page.title = '{{ page.title }}'
        this.page.url = 'http://rafaelcn.github.io{{ page.url }}';
        this.page.identifier = '{{ page.title }}'
    };

    let activation = function() {
        var d = document, s = d.createElement('script');

        s.src = '//rafaelcngithubio.disqus.com/embed.js';

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    };

    // on click load diqus
    let disqus_button = document.getElementById('disqus-activation')

    disqus_button.onclick = function() {
        disqus_button.style.display = "none"
        //document.getElementById('disqus-activation-area').style.display = "none"

        activation()
    }
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>
